html{
    background: linear-gradient(90deg, #C8102E 0%, #003087 100%)
}

#Password{

    color: white;
    text-align: center;
    background-color: black;
}

#passw{
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}


input{
    padding: 3px;
    
}