html{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%)
}

#Password{
    
    color: black;
    text-align: center;
   
}

#passw{
    text-transform: uppercase;
    text-decoration: none;
    color: black;

}


input{
    padding: 3px;
    
}

h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white 3px 1px;
}