 /* einstellungen für grösse,schrift etc. bezogen auf den inhalt  */
p.Inhalt{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 111%;
  text-align: justify;
  padding: 0%;
}
 /*  einstellungen für grösse,schrift etc. bezogen auf überschriften bei unterseiten */
p.Unterseiten {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  text-decoration: underline;
  text-shadow:darkgrey 2px 1px;
  text-align: center;
}
  /*  einstellungen für grösse,schrift etc. bezogen auf Überschriften*/
h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-shadow:darkgrey 3px 1px;
}
 /* paadding bezogen aufs ganze html dokument */
html {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}
 /* alles zum navigation bar .topnav... */
.topnav {
  background: url(https://images.hdqwalls.com/wallpapers/polygon-abstract-shapes-sharp-4k-wt.jpg);
  background-image: repeating-linear-gradient();
  background-size: cover;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2.15%;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(206, 119, 36);
  color: white;
}
 /* Unterteilung der Seiten in 2 Teile */
.column {
  width: 50%;
  float: left;
}
 /* Unterteilung der Seiten in 2 Teile. Bezogen auf Home Seite */
.columnhome {
  width: 50%;
  float: left;
}
 /* Liste auf Home */
ul.a {
  list-style-type: square;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  text-align: justify;
  padding-top: 0%;
  padding-left: 40%;
  padding-right: 0%;
  padding-bottom: 0%;
  text-shadow:darkgrey 2px 1px;
}
