* {
  box-sizing: border-box;
}

html{
background-color: white;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:black;
  width:100%;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  padding:10px;
  margin-top:7px;
  display:block;
}
.main {
  float:left;
  width:60%;
  padding:0 15px;
}
.right {
  background-color:black;
  color: white;
  float:left;
  width:20%;
  padding:10px;
  margin-top:7.5px;
  text-align:center;
}
.footer {
  background-color: black;
  color: white;
  text-align:center;
  padding:15px;
  margin-top:7.5px;"
}

.header{
  background-color:  black;
  color: #ef2729;
  text-shadow: white 1px 1px;
  padding:15px;
  text-align:center;">
}

.norwegen{
color: white;
}
.titel{
color: white;
}
p{
  color: black;
  text-align: justify;
}

img{
  width: 16em;
  
}

.picmain{
  width: 100%;
  padding-top: 7.5px;
}

.fakten{
  color: white;
}
h2{
  color: black;
  text-transform: uppercase;
}

#btn {
  display: none;
  bottom: 45px;
  right: 30px;
  font-size: 18px;
  border: none;
  position: fixed;
  outline: none;
  background-color: blue;
  background-image: radial-gradient(circle, blue, red, white);
  cursor: pointer;
  border-radius: 4px;
  padding: 15px;

}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}